h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Sans serif';
}

body {
    margin: 0;
    background-color: rgb(201, 2, 36);
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Sans serif';
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li :hover {
    color: red;
}

.project {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.423);
    border-radius: 25px;
}

.project h2 {
    text-align: center;
    color: white;
    background-color: red;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.project h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Sans serif';
}

.project a :hover {
    background-color: maroon;
}

header {
    background-color: #212121;
    margin: 0;
}

header a {
    background-image: url("./images/menu.png");
}

main {
    display: grid;
    grid-template-columns:repeat(2, 30%);
    justify-content:space-evenly;
}

main section {
    margin: 20px;
}

header button {
    display: none;
}

@media only screen and (max-width: 480px) {

    main {
        grid-template-columns: 1fr;
    }

    header a {
        display: block;
        width: 50px;
        height: 50px;
    }

    nav {
        display: none;
    }

    .project {
        width: 80%;
    }

}
