/* body {
    margin: 0;
    background-image: linear-gradient(180deg, rgb(9, 15, 75), rgb(4, 2, 24));
} */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html, body {
    margin: 0;
    height: max-content;
}

body {
    margin: 0;
    background: linear-gradient(-45deg, #000000, #5f0a09, #000000, #8a1137);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Sans serif';
} */

h1 {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

/* h2 {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-size: 30px;
} */

a {
    text-decoration: none;
}

nav {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.596); */
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.33);
}

nav img {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 20px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Sans serif';
}

nav ul li a {
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}

nav ul li :hover {
    background-color: red;
    color: white;
}

.selected {
    background-color: white;
    color: black;
}

main {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#resume-main {
    background-color: rgb(46, 46, 46);
    display: block;
    margin: 5% 10%;
    padding: 20px;
    color: white;
}

#resume-main > header {
    width: 100%;
    border-bottom: 1px solid white;
}

#resume-body {
    display: flex;
}

#resume-body ul li {
    list-style-type: none;
}

#resume-body h4 {
    text-align: center;
}

#resume-body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#resume-body-right ul li {
    list-style-type: square;
}

#resume-body-right img {
    width: 40px;
}

#resume-body-left {
    width: 70%;
    padding: 20px;
    border-right: 1px solid white;
}

#bio {

    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    padding: 50px;
    justify-content: center;
    width: 80%;
}

#bio-text {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}

#bio-text p {
    color: rgb(159, 157, 157);
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

#occupation {
    align-self: center;
    font-size: bold;
}

#bio-text h1 {
    font-size: 70px;
    margin: 0;
    margin-bottom: 30px;
    
}

#bio-text a {
    color: white;
    background-color: red;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    width: 250px;
    font-size: 30px;
    margin-top: 50px;
    align-self: center;
    font-family: 'Merriweather Sans', sans-serif;
    /* font-family: 'Mulish', sans-serif; */
}

#bio-text a :hover {
    background-color: #5f0a09;
    color: black;
}

#bio-img {
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

#bio-img img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    box-shadow: 0px 0px 40px 10px white;

}

#links {
    display: flex;
    justify-content: space-around;
}

#links :hover {
    transition: 0.5s;
    background-color: rgb(99, 99, 99);
    cursor: pointer;
}


.link {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: grayscale(0.5) opacity(0.8);
    width: 20%;
    padding: 30px;
    border-radius: 20px;
}

.link img {
    width: 100px;
}

.link h3 {
    color: white;
}

.link p {
    color: white;
    font-size: 20px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: grey; */
    width: 150px;
    margin: 20px;
}

.skill img {
    width: 50px;
}

.skill p {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}

.project {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
    background-color: rgb(177, 177, 177);
    border-radius: 25px;
}

.project h2 {
    text-align: center;
    color: white;
    background-color: red;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}

.project a :hover {
    background-color: maroon;
}

/* header {
    background-color: #212121;
    margin: 0;
} */

header button {
    display: none;
}

footer {
    background-color: #212121;
    display: flex;
    justify-content: space-evenly;
}

footer h3 {
    color: white;
}

footer p {
    color: white;
}

footer div a img {
    width: 30px;
    color: white;
}

@media only screen and (max-width: 480px) {

    header {
        display: grid;
        grid-template-rows: 1fr;
    }

    h1 {
        font-size: 150%;
    }

    nav{
        display:none;
    }

    header button {
        display: block;
        align-items: flex-start;
    }
}
