body {
    margin: 0;
    background-image: linear-gradient(180deg, rgb(9, 15, 75), rgb(4, 2, 24));
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Sans serif';
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

nav ul {
    text-align: right;
    margin: 0;
    padding: 20px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Sans serif';
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li :hover {
    color: cyan;
}

.selected {
    background-color: rgb(17, 36, 43);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

#bio {
    margin-top: 100px;
    display: flex;
    padding: 50px;
    justify-content: center;
    width: 80%;
    /* height: 300px; */
}

#bio-text {
    width: 50%;
}

#bio-text p {
    color: white;
    font-size: 1.5em;
}

#bio-img {
    width: 50%;
    margin-left: 50px;
}

#bio-img img{
    width: 100%;
    border-radius:50%;
}

#links {
    display: flex;
    justify-content: space-around;
}

#links :hover {
    transition: 1s;
    background-color: rgb(99, 99, 99);
    cursor: pointer;
}


.link {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: grayscale(0.5) opacity(0.8);
    width: 20%;
    height: 200px;
    padding: 30px;
    border-radius: 20px;
}

.link img {
    width: 100px;
}

.link h3 {
    color: white;
}

.link p {
    color: white;
    font-size: 20px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: grey; */
    width: 150px;
    margin: 20px;
}

.skill img {
    width: 50px;
}

.skill p {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.project {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
    background-color: rgb(177, 177, 177);
    border-radius: 25px;
}

.project h2 {
    text-align: center;
    color: white;
    background-color: red;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}

.project a :hover {
    background-color: maroon;
}

/* header {
    background-color: #212121;
    margin: 0;
} */

header button {
    display: none;
}

footer {
    background-color: #212121;
    display: flex;
    justify-content: space-evenly;
}

footer h3 {
    color: white;
}

footer p {
    color: white;
}

footer div a img {
    width: 30px;
    color: white;
}

@media only screen and (max-width: 480px) {

    header {
        display: grid;
        grid-template-rows: 1fr;
    }

    h1 {
        font-size: 150%;
    }

    nav{
        display:none;
    }

    header button {
        display: block;
        align-items: flex-start;
    }
}
